/* SideNavbar.css */
.side-navbar {
    position: fixed;
    left: 0;
    top: 90px; /* Ändere den Wert, um die SideNavbar nach unten zu verschieben */
    width: 200px;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
    z-index: 100;
    /*border-right: 1px solid #000;*/
}

.side-navbar.open {
    width: 100px; /* Breite der geöffneten Seitenleiste */
    border-right: 1px solid #000; /* Ändere #000 auf die gewünschte Farbe der Linie */
}

.side-navbar.closed {
    width: 30px; /* Breite der geschlossenen Seitenleiste */
    height: 50px; /* Höhe der eingeklappten Sidebar */
    background-color: rgba(61, 22, 140, 0);
}

.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.42);
    border-bottom: 1px solid #ddd;
}

.toggle-button:hover {
    background-color: rgba(229, 229, 229, 0.39);
}

.nav-icon {
    display: block;
    margin: 10px auto 50px; /* Hinzugefügter Abstand nach unten */
    color: black;
    transition: color 0.3s, transform 0.3s;
    min-width: 40px;
    min-height: 40px;
    max-width: 80px;
    max-height: 80px;
}

.nav-icon:hover {
    color: #5e7839;
    transform: scale(1.2);
}

/* Weitere benutzerdefinierte CSS-Stile für die Sidebar-Elemente */
.sidebar-item {
    text-align: center;
    min-width: 100px;
}

.sidebar-text {
    margin-top: 15px; /* Vergrößerter Abstand zum Text */
}

@media (max-width: 768px) {
    .side-navbar {
        top: 55px;
    }

    .nav-icon {
        margin: 10px auto;
    }

}

@media (max-height: 1300px) {
    .nav-icon {
        margin: 10px auto;
    }
}