@media (max-width: 768px) {
    .tree {
        scale: 0.5;
        /*transform: translateY(-400px);*/
        /*margin-bottom: 400px;*/
    }


    .feelingsbar {
        transform: scale(0.65) translateX(-180px) translateY(-300px);
    }

    .commitmentsbar {
        transform: scale(0.45) translateX(100px) translateY(-100px);
    }

    .schluesseRechts {
        transform: translateY(-100px);
        padding-left: 10px;
        margin-bottom: 100px;
    }

    /*oben*/
    .schluesseLinks {
        padding-left: 20px;
        /*transform: translateY(-300px);*/
        /*font-size: 10px;*/
        /*margin-top: 0.5rem;*/
        /*transform: translateY(-400px);*/
    }
}

.tree {
    transform: scale(0.9);
    /*margin-top: 350px;*/
}

.feelingsbar {
    margin-top: 350px;
    margin-left: 100px;
    margin-bottom: 60px;
}

.commitmentsbar {
    margin-bottom: 20px;
    margin-right: 2000px;
    transform: scale(0.9);
    /*margin-right: 100px;*/

}

.schluesseLinks {
    /*margin-right: 200px;*/
    /*transform: translateX(-100px);*/
    transform: scale(0.9);
}

.schluesseRechts {
    /*margin-left: 200px;*/
    margin-left: 50px;
    transform: scale(0.9);

}

.spaceBetween {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}